

.main-div{
    background-color:black;
    color: white;
    width: 40vw;
    box-sizing: border-box;
    padding: 30px;
    margin-left: 20px;
}
.label1{
    font-size: 20px;
    
}
.input{
    width: 35.5vw;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cocktail{
    font-size: 20px;
}
.select{
    width: 36vw;
    height: 36.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.point{
    font-size: 20px;
}
.points{
    width: 35.5vw;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading{
    text-align: center;
}
.btn{
    background-color: orange;
    border: 1px solid black;
    margin-left: 483px;
    font-size: 30px;
}
.resets{
    background-color: white;
    border: 2px solid orange;
    margin-left: 375px;
    margin-bottom: -20px;
    font-size: 30px;
}
.reset{
    margin-top: -38px;
}
.showdetais{
    display: flex;
    height: 5vh;
    border-width: 20px;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-around;
    margin-top: 15px;
}
.show{
    justify-content: space-between;
    justify-content: center;
    margin-top: -400px;
    background-color: black;
    color: white;
    width: 100vh;
    margin-left: 650px;
}
.head{
    text-align: center;
}
.spam{
    padding: 10px;
    font-size: 20px;
}
.malta{
    margin-left: 15px;
}
.sonfee{
    margin-left: 15px;
}
.table{
    background-color: yellow;
    border: 2px solid black;
    color: black;
    width: 100vh;
}
.fname{
    font-size: 25px;
    
}
.btn1{
    background-color: rgb(232, 227, 217);
    border: 2px solid black;
    font-size: 20px;
    margin-right: 5px;
    border-radius: 3px;
}
.btn2{
    background-color: rgb(232, 227, 217);
    border: 2px solid black;
    font-size: 20px;
    margin-right: -50px;
    border-radius: 3px;
}
.heade1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 20px;
    margin-left: -50px;

}
.heade3{
    margin-right: -20px;
}

